{:deps {:aliases [:dev :test]}
 :builds {:dev {:target    :node-library
                :exports {:handler atomist.main/handler}
                :output-to "index.js"}
          :release {:target :node-script
                    :output-to "index.js"
                    :main atomist.main/handler
                    :exports {:handler atomist.main/handler}
                    :compiler-options {:optimizations :advanced}}}}
